# Rust
target/
Cargo.lock
src-tauri/gen/

# Node
node_modules/
dist/
frontend/dist/

# VM files (trop lourds)
src-tauri/resources/vm/*.squashfs
src-tauri/resources/vm/vmlinuz
src-tauri/resources/vm/initrd.img
src-tauri/resources/vm/*.exe
src-tauri/resources/vm/*.dll

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Secrets
.env
*.key
*.pem
